<!DOCTYPE html>
<html>
<head>

    <title>Xdaysaysay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% stylesheets '@TissouXdaysaysayBundle/Resources/public/css/*' output='css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("home") }}">Xdaysaysay</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">Bienvenue {{ app.user.username }}</li>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <li><a href="./">Administration</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    </ul>
                {% else %}
                    <form class="navbar-form navbar-right" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                        <div class="form-group">
                            <input type="text" id="username" name="_username" placeholder="Pseudo" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control" required="required">
                        </div>
                        <button type="submit" id="_submit" name="_submit" class="btn btn-success">Connexion</button>
                    </form>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="">
            <div class="col-md-3">
                {% include 'TissouXdaysaysayBundle:Default:menu.html.twig' %}
            </div>
            <div class="col-md-9">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>